---

---

<section class="about" id="about">
	<img class="aboutimg" src="/nicolai.webp" alt="Billede af Nicolai" />
	<article class="abouttekst">
		<h1>Om</h1>
		<div>
			<p>
				Multimediedesigner studerende med stor passion for Frontend. Tidligerer erfaring med event-
				og salgsledelse. Som har medførst jeg sætter en stor ære i at være serviceminded,
				professionel, struktureret, samtidig med at kunne håndtere mange projekter samtidig.
				Arbejder godt i teams men også individuelt.
			</p>
			<p>
				Under min uddannelse har jeg fået stor interesse for Frontend og bruger meget af min fritid
				på at blive bedre til at kode og sætte mig mere ind i hvad de forskellige systemer og sprog
				kan. Det en fed følelse at sidde med et problem som i sidste ende bliver løst.
			</p>
			<p>
				Har erfaring med forskellige platforme, filtyper, designprincipper, diagrammer, kodning og
				desingproces. Det har medført jeg har efaring med alt fra designprocessen til kodning af det
				færdigeprodukt.
			</p>
			<p>
				Jeg bestræber mig altid på at være en positiv person med godt humør, gå på mod og elsker at
				lære nye ting samt bruge de ting, og blive endnu bedre til det, som jeg brænder for.
			</p>
		</div>
	</article>
</section>

<style>
	section {
		margin-top: 150px;
		display: flex;
		justify-content: space-between;
		gap: 60px;

		transition: all 1s linear;
	}
	div {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1::after {
		content: ' mig';
		color: var(--link);
	}

	img {
		opacity: 0;
		transition: all 0.5s ease-out;
	}

	article {
		transform: translateX(100%);
		transition: all 0.5s ease-out;
	}

	.show {
		opacity: 100%;
		transition: all 0.5s ease-out;
	}
	.slidetext {
		transform: translateX(0);
		transition: all 0.5s ease-out;
	}

	@media (max-width: 1200px) {
		img {
			width: 50%;
			height: 100%;
		}
	}

	@media (max-width: 1000px) {
		section {
			display: block;
		}
		img {
			float: left;
			margin-right: 20px;
		}
		div {
			display: block;
		}
	}

	@media (max-width: 500px) {
		section {
			margin-top: 0;
		}
	}

	@media (max-width: 386px) {
		h1 {
			font-size: 35px;
		}
	}
</style>
