---

---

<section class="about" id="about">
	<img class="aboutimg" src="/nicolai.webp" alt="Billede af Nicolai" />
	<article class="abouttekst">
		<h1>Om</h1>
		<div>
			<p>
				Jeg er en passioneret Frontend Developer, som brænder for at skabe brugercentreret og
				bæredygtige løsninger ved hjælp af mine færdigheder inden for HTML, CSS, JavaScript,
				Databaser, Astro og React.
			</p>
			<p>
				Jeg har en solid forståelse for HTML og CSS og har erfaring med at omsætte designs til kode.
				Min erfaring med JavaScript og React har gjort mig i stand til at skabe dynamiske og
				interaktive brugeroplevelser.
			</p>
			<p>
				Jeg har studiejob på KEA som lektiehjælp til primært at hjælpe de studerende med kodnings
				udfordringer, som giver mig erfaring i at sætte mig ind i andres kode og tanker og løse
				deres problemer.
			</p>
			<p>
				Jeg har i 4 år arbejdet som event- og salgsledelse. Som har medført jeg sætter en stor ære i
				at være serviceminded, professionel, struktureret, samtidig med at kunne håndtere mange
				projekter samtidig. Arbejder godt i teams men også individuelt.
			</p>
			<p>
				Jeg håber at få muligheden for at lære en masse hos jer og bidrage aktivt til projekter. Jeg
				er ivrig efter at udvide mine færdigheder og erfaringer gennem praktisk arbejde under
				vejledning.
			</p>
		</div>
	</article>
</section>

<style>
	section {
		margin-top: 150px;
		display: flex;
		justify-content: space-between;
		gap: 60px;

		transition: all 1s linear;
	}
	div {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1::after {
		content: ' mig';
		color: var(--link);
	}

	img {
		opacity: 0;
		transition: all 0.5s ease-out;
		object-fit: cover;
	}

	article {
		transform: translateX(100%);
		transition: all 0.5s ease-out;
	}

	.show {
		opacity: 100%;
		transition: all 0.5s ease-out;
	}
	.slidetext {
		transform: translateX(0);
		transition: all 0.5s ease-out;
	}

	@media (max-width: 1200px) {
		img {
			width: 50%;
			height: 100%;
		}
	}

	@media (max-width: 1000px) {
		section {
			display: block;
		}
		img {
			float: left;
			margin-right: 20px;
		}
		div {
			display: block;
		}

		p {
			margin-top: 20px;
			text-wrap: pretty;
		}
	}

	@media (max-width: 500px) {
		section {
			margin-top: 0;
		}
	}

	@media (max-width: 386px) {
		h1 {
			font-size: 35px;
		}
	}
</style>
