---
const { link, tekst } = Astro.props
---

<a href={link}>{tekst}</a>

<style>
	a {
		padding: 10px 40px;
		background-color: var(--link);
		color: #fff;
		border-radius: 10px;
		text-align: center;
	}
</style>
