---
const { link, tekst } = Astro.props
---

<a href={link} target="_blank">{tekst}</a>

<style>
	a {
		padding: 5px 30px;
		background-color: var(--link);
		color: var(--background-color);
		border-radius: 10px;
		text-align: center;
		width: 100%;
		transition: all 0.3s;
	}

	a:hover {
		color: var(--link);
		background-color: #fff;
	}

	@media (max-width: 500px) {
		a {
			font-size: 20px;
			padding: 5px 20px;
		}
	}

	@media (max-width: 405px) {
		a {
			font-size: 16px;
		}
	}

	@media (max-width: 380px) {
		a {
			padding: 5px 20px;
		}
	}
</style>
