---
import Button from './Button.astro'
---

<section>
	<h1>Kontakt</h1>
	<div class="container">
		<div class="containerinfo">
			<img src="/logo/phone.svg" alt="Phone logo" />
			<p class="kontakt">31 25 58 28</p>
		</div>
		<div class="containerinfo">
			<img src="/logo/mail.svg" alt="E-mail logo" />
			<a class="kontakt" href="mailto:nicolai@langkilde.dk">Nicolai@langkilde.dk</a>
		</div>
	</div>
	<Button link="/#" tekst="SE CV" />

	<style>
		section {
			display: flex;
			flex-direction: column;
			width: fit-content;
			margin: 100px 0 50px 50px;
			gap: 30px;
		}
		img {
			width: 40px;
			height: 40px;
		}

		.kontakt {
			font-size: 20px;
			font-weight: normal;
		}

		.kontakt:hover {
			text-decoration: underline;
		}
		.container {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.containerinfo {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		@media (max-width: 696px) {
			section {
				margin: 100px auto 100px auto;
			}
		}
	</style>
</section>
