---

---

<section>
	<article class="introwords slidein">
		<h1>Passion</h1>
		<h1>Simplicity</h1>
		<h1>Excitment</h1>
	</article>
	<article class="introtekst">
		<h3>Frontend</h3>
		<h2 class="name">Fisker Langkilde</h2>
		<h2>Multimediedesigner studerende</h2>
	</article>
</section>

<style>
	section {
		margin: 60px 0 0 0;
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	article {
		display: flex;
		flex-direction: column;
		height: 300px;
		overflow: hidden;
	}

	article:last-child {
		justify-content: flex-end;
		min-width: fit-content;
	}

	h1 {
		color: var(--link);
	}

	h2 {
		line-height: 45px;
	}

	h3 {
		font-weight: normal;
		margin-bottom: 7px;
	}

	.name::before {
		content: 'Nicolai ';
		color: var(--link);
	}

	.slidein {
		line-height: 75px;
		margin-right: 10%;
		order: 1;
	}

	.slidein h1:first-child {
		transform: translateX(200%);
		animation-name: slidein;
		animation-duration: 1.5s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}
	.slidein h1:nth-child(2) {
		transform: translateX(200%);
		animation-name: slidein;
		animation-duration: 1.5s;
		animation-delay: 0.7s;
		animation-fill-mode: forwards;
	}

	.slidein h1:last-child {
		transform: translateX(200%);
		animation-name: slidein;
		animation-duration: 1.5s;
		animation-delay: 0.9s;
		animation-fill-mode: forwards;
	}

	@keyframes slidein {
		100% {
			transform: translateX(0);
		}
	}

	@media (max-width: 1150px) {
		.slidein {
			line-height: 65px;
			margin-right: 5%;
		}
	}

	@media (max-width: 1000px) {
		h2 {
			line-height: 35px;
		}
	}

	@media (max-width: 850px) {
		section {
			display: block;
		}
		article {
			height: 200px;
		}

		h1 {
			width: fit-content;
		}
		article:last-child {
			justify-content: flex-start;
			min-width: fit-content;
		}

		.slidein {
			align-items: flex-end;
		}
	}

	@media (max-width: 767px) {
		h1 {
			font-size: 50px;
		}
		h2 {
			line-height: 30px;
		}

		h3 {
			margin-bottom: 0;
		}
	}

	@media (max-width: 420px) {
		h2 {
			font-size: 20px;
			line-height: 24px;
		}

		.slidein {
			margin-bottom: 25px;
		}
	}
</style>
