---

---

<section>
	<h2>Portfolio.</h2>
	<article>
		<a href="/#">Om mig</a><a href="/#">Skills</a><a href="/#">Portfolio</a><a href="/#">Kontakt</a>
	</article>
</section>

<style>
	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 50px;
	}

	article {
		display: flex;
		gap: 30px;
	}

	h2 {
		font-size: 60px;
	}

	h2:first-letter {
		color: var(--link);
	}

	a {
		font-weight: lighter;
	}

	a:hover {
		color: var(--link);
		transition: all 0.3s;
	}

	@media (max-width: 850px) {
		section {
			display: none;
		}
	}
</style>
