---
import Button from './Button.astro'
---

<article class="portfolio">
	<h1>Portfolio</h1>
	<div class="container">
		<div class="tab-container">
			<div class="tab-filter-container">
				<li class="filter-btn active" data-tab="ux-cph">UX Copenhagen</li>
				<li class="filter-btn" data-tab="tbd">The Barking Dog</li>
				<li class="filter-btn" data-tab="dh">Decore Hair</li>
				<li class="filter-btn" data-tab="ca">CA Akasse</li>
			</div>
			<div class="tab-filter-item-container">
				<div class="tab-item ux-cph select_tab">
					<div>
						<Button tekst="Se sitet" />
						<Button tekst="GitHub" />
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, perferendis eum a
							vero quam error adipisci illum voluptatem consequuntur nihil, dignissimos veniam fuga
							nostrum alias odit voluptas, quaerat accusantium necessitatibus.
						</p>
					</div>
					<video src="/video/uxcph.mov"></video>
				</div>
				<div class="tab-item tbd">
					<div>
						<Button tekst="Se sitet" />
						<Button tekst="GitHub" />
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, perferendis eum a
							vero quam error adipisci illum voluptatem consequuntur nihil, dignissimos veniam fuga
							nostrum alias odit voluptas, quaerat accusantium necessitatibus.
						</p>
					</div>
					<video src="/video/uxcph.mov"></video>
				</div>
				<div class="tab-item dh">
					<div>
						<Button tekst="Se sitet" />
						<Button tekst="GitHub" />
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, perferendis eum a
							vero quam error adipisci illum voluptatem consequuntur nihil, dignissimos veniam fuga
							nostrum alias odit voluptas, quaerat accusantium necessitatibus.
						</p>
					</div>
					<video src="/video/uxcph.mov"></video>
				</div>
				<div class="tab-item ca">
					<div>
						<Button tekst="Se sitet" />
						<Button tekst="GitHub" />
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, perferendis eum a
							vero quam error adipisci illum voluptatem consequuntur nihil, dignissimos veniam fuga
							nostrum alias odit voluptas, quaerat accusantium necessitatibus.
						</p>
					</div>
					<video src="/video/uxcph.mov"></video>
				</div>
			</div>
		</div>
	</div>
</article>
<style>
	article {
		margin-top: 150px;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transition: all 1s ease-out;
	}

	.flip {
		transition: all 1s ease-out;
		transform: rotateY(0);
	}
	.container {
		margin-top: 30px;
	}
	.tab-filter-container {
		display: flex;
		flex-wrap: wrap;
	}

	.filter-btn {
		margin-left: 1px;
		outline: 1px solid #fff;
		color: white;
		display: flex;
		padding: 0.8rem 2.5rem;
		cursor: pointer;
	}
	.filter-btn.active {
		background-color: var(--link);
		color: white;
	}
	.tab-filter-item-container {
		border: 1px solid #fff;
		position: relative;
		overflow: hidden;
	}
	.tab-item {
		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: 50px;
		padding: 50px;
		width: 100%;
		height: 480px;
		position: absolute;
		transform: translateY(120%);
		transition: transform 0.5s ease-in-out;
	}

	.tab-item.select_tab {
		transform: translateY(0);
		transition: transform 0.5s ease-in-out;
	}
</style>

<script>
	const filter_btn = document.querySelectorAll('.filter-btn')
	const tab_items = document.querySelectorAll('.tab-item')
	const tabContainer = document.querySelector('.tab-filter-item-container')

	filter_btn.forEach((button) => {
		button.addEventListener('click', () => {
			filter_btn.forEach((btn) => btn.classList.remove('active'))
			const select_tab = button.getAttribute('data-tab')
			button.classList.add('active')

			tab_items.forEach((tab) => {
				tabContainer.style.height = tab.scrollHeight + 'px'
				tab.classList.toggle('select_tab', tab.classList.contains(select_tab))
			})
		})
	})

	tab_items.forEach((tab) => {
		tabContainer.style.height = tab.scrollHeight + 'px'
	})
</script>
