---
import IndholdSkills from './IndholdSkills.astro'
---

<section class="skills">
	<h1>Skills</h1>
	<article>
		<IndholdSkills
			title="HTML"
			logo="/logo/html.svg"
			alt="HTML logo"
			tekst="Erfaring inden for at opsætning af html struktur. Fokus på semantik og optimering. Kan kode både dynamisk og statiske sites."
		/>
		<IndholdSkills
			title="CSS"
			logo="/logo/css.svg"
			alt="CSS logo"
			tekst="CSS styling via class, id variabler, pseudo elementer, keyframes og media querries. "
		/>
		<IndholdSkills
			title="JavaScript"
			logo="/logo/js.svg"
			alt="JavaScript logo"
			tekst="Kan gøre et site interaktiv og dynamisk ved brug af functions. Importer indhold og opdele det fra database via fetch og foreach og manipulere det via indbyggede funktioner."
		/>
		<IndholdSkills
			title="DATABASE"
			logo="/logo/database.svg"
			alt="Database logo"
			tekst="Forståelse for opsætning og brug af database primært via Supabase."
		/>
		<IndholdSkills
			title="Github"
			logo="/logo/github.svg"
			alt="Github logo"
			tekst="Brug af GitHub til at uploade og dele projekter i team arbejde. Lave branches løbende i et projekt og merge dem til main inden upload. "
		/>
		<IndholdSkills
			title="Netlify"
			logo="/logo/netlify.svg"
			alt="netlify logo"
			tekst="Kan bruge Netlify til at deploy et site fra GitHub til fremvisning eller teste på forskellige medier. Samt se om forskellige forms på et site virker. "
		/>
	</article>
</section>

<style>
	section {
		margin-top: 250px;
	}
	article {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		max-width: 1140px;
	}
</style>

<script>
	const skills = document.querySelector('.skills')

	window.onscroll = function () {
		scrollFunctionSkills()
	}

	function scrollFunctionSkills() {
		if (document.body.scrollTop > 550 || document.documentElement.scrollTop > 550) {
			skills.classList.add('show')
		} else {
			skills.classList.remove('show')
		}
	}
</script>
