---

---

<article>
	<div class="flexdiv">
		<h3>Photoshop</h3>
		<div class="container">
			<div class="fill1"></div>
		</div>
	</div>
	<div class="flexdiv">
		<h3>Illustrator</h3>
		<div class="container">
			<div class="fill2"></div>
		</div>
	</div>
	<div class="flexdiv">
		<h3>XD/Figma</h3>
		<div class="container">
			<div class="fill3"></div>
		</div>
	</div>
	<div class="flexdiv">
		<h3>Premier Pro</h3>
		<div class="container">
			<div class="fill4"></div>
		</div>
	</div>
	<div class="flexdiv">
		<h3>After Effects</h3>
		<div class="container">
			<div class="fill5"></div>
		</div>
	</div>
</article>

<style>
	article {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		gap: 50px;

		margin-top: 30px;
	}

	.flexdiv {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.container {
		width: 100%;
		border: 1px solid var(--link);
	}

	.fill1 {
		height: 15px;
		width: 60%;
		background-color: var(--link);
	}
	.fill2 {
		height: 15px;
		width: 50%;
		background-color: var(--link);
	}
	.fill3 {
		height: 15px;
		width: 80%;
		background-color: var(--link);
	}
	.fill4 {
		height: 15px;
		width: 65%;
		background-color: var(--link);
	}
	.fill5 {
		height: 15px;
		width: 45%;
		background-color: var(--link);
	}
</style>
