---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
import Contact from '../components/Contact.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolai' portfolio</title>
	</head>
	<body>
		<header><Navigation /></header>
		<main>
			<slot />
		</main>
		<footer><Contact /></footer>
	</body>
</html>

<style></style>

<script>
	const intro = document.querySelector('.about')
	const aboutimg = document.querySelector('.aboutimg')
	const abouttekst = document.querySelector('.abouttekst')
	const skills = document.querySelector('.skills')
	const port = document.querySelector('.portfolio')

	const element = document.querySelector('.introtekst')
	const element2 = document.querySelector('.introwords')

	window.addEventListener('scroll', () => {
		let value = window.scrollY

		element.style.translate = -value / 3 + '%'
		element2.style.translate = value / 3 + '%'
	})

	/* let options = {
		threshold: 0.4
	} */
	let options = {
		root: null,
		rootMargin: '-250px -50px',
		threshold: 0.04
	}
	let observer = new IntersectionObserver(flip, options)

	observer.observe(port)

	function flip(entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				port.classList.add('flip')
			} else port.classList.remove('flip')
		})
	}

	let observer2 = new IntersectionObserver(slide, options)

	observer2.observe(intro)

	function slide(entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				aboutimg.classList.add('show')
				abouttekst.classList.add('slidetext')
			} else {
				aboutimg.classList.remove('show')
				abouttekst.classList.remove('slidetext')
			}
		})
	}

	let observer3 = new IntersectionObserver(show, options)

	observer3.observe(skills)

	function show(entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				skills.classList.add('show')
			} else {
				skills.classList.remove('show')
			}
		})
	}
</script>
