---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolai' portfolio</title>
	</head>
	<body>
		<header><Navigation /></header>
		<main><slot /></main>
		<footer></footer>
	</body>
</html>
