---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
import Contact from '../components/Contact.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolai' portfolio</title>
	</head>
	<body>
		<header><Navigation /></header>
		<main><slot /></main>
		<footer><Contact /></footer>
	</body>
</html>

<style></style>

<script>
	const aboutimg = document.querySelector('.aboutimg')
	const abouttekst = document.querySelector('.abouttekst')
	const skills = document.querySelector('.skills')
	const port = document.querySelector('.portfolio')

	window.onscroll = function () {
		scrollFunction()
	}

	function scrollFunction() {
		if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
			aboutimg.classList.add('show')
			abouttekst.classList.add('slidetext')
		} else {
			aboutimg.classList.remove('show')
			abouttekst.classList.remove('slidetext')
		}

		if (document.body.scrollTop > 850 || document.documentElement.scrollTop > 850) {
			skills.classList.add('show')
		} else {
			skills.classList.remove('show')
		}

		if (document.body.scrollTop > 2150 || document.documentElement.scrollTop > 2150) {
			port.classList.add('flip')
		} else {
			port.classList.remove('flip')
		}
		const element = document.querySelector('.introtekst')
		const element2 = document.querySelector('.introwords')

		window.addEventListener('scroll', () => {
			let value = window.scrollY

			element.style.translate = -value / 3 + '%'
			element2.style.translate = value / 3 + '%'
		})
	}
</script>
