---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolai' portfolio</title>
	</head>
	<body>
		<header><Navigation /></header>
		<main><slot /></main>
		<footer></footer>
	</body>
</html>

<script>
	const show = document.querySelector('.about')
	const skills = document.querySelector('.skills')

	window.onscroll = function () {
		scrollFunction()
	}

	function scrollFunction() {
		if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
			show.classList.add('show')
		} else {
			show.classList.remove('show')
		}

		if (document.body.scrollTop > 850 || document.documentElement.scrollTop > 850) {
			skills.classList.add('show')
		} else {
			skills.classList.remove('show')
		}
		const element = document.querySelector('.text1')
		const element2 = document.querySelector('.slidein')

		window.addEventListener('scroll', () => {
			let value = window.scrollY

			element.style.marginLeft = value * -3.5 + 'px'
			element2.style.marginLeft = value * 10.5 + 'px'
		})
	}
</script>
