---
import '../styles/mainstyles.css'
import Navigation from '../components/Navigation.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolai' portfolio</title>
	</head>
	<body>
		<header><Navigation /></header>
		<main><slot /></main>
		<footer></footer>
	</body>
</html>

<script>
	const show = document.querySelector('.about')
	const skills = document.querySelector('.skills')

	window.onscroll = function () {
		scrollFunction()
	}

	function scrollFunction() {
		if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
			show.classList.add('show')
		} else {
			show.classList.remove('show')
		}

		if (document.body.scrollTop > 1050 || document.documentElement.scrollTop > 1050) {
			skills.classList.add('show')
		} else {
			skills.classList.remove('show')
		}
	}
</script>
